{% extends "plantilla_usuario.html" %}
{% block title %}Contacto{% endblock %}
{% load static %}
{% load i18n %}
{% block Usuario %}
 <div class="container-fluid">
    <div class="row reflexion justify-content-around align-items-center border pt-5">
      <div class="col-12 col-md-5 contacto_form" style="padding-bottom:15px;">
        <div class="d-flex justify-content-center align-items-center pb-5">
          <h5 class="text-center fs-1 h1juan">
            ¿Esta seguro que quiere salir?
          </h5>
        </div>
        <div class="row justify-content-evenly">
          <a type="button" class="btn btn-danger btn-lg col-4" href="{% url 'logout_adios' %}">Si</a>
          <button type="button" class="btn btn-primary btn-lg col-4">No</button>
        </div>
      </div>
    </div>
  </div>
    

   
{% endblock %}