alabaster==0.7.16
asgiref==3.8.1
asttokens==3.0.1
attrs==25.4.0
Automat==25.4.16
babel==2.16.0
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
constantly==23.10.4
contourpy==1.3.1
cramjam==2.11.0
cycler==0.12.1
cypari==2.5.5
decorator==5.2.1
distlib==0.3.8
Django==4.2.23
django-autoslug==1.9.9
django-autoslug-field==0.2.3
django-ckeditor==6.7.3
django-debug-toolbar==5.2.0
django-js-asset==3.1.2
django-model-utils==5.0.0
django-ranged-response==0.2.0
django-registration-redux==2.13
django-simple-captcha==0.6.2
django-simple-history==3.10.1
django-sslserver==0.22
django-tastypie @ git+https://github.com/django-tastypie/django-tastypie.git@03c4746f0a0f88628be5264bc8d4a19a0529b2f4
djangorestframework==3.16.1
dnspython==2.8.0
docutils==0.20.1
executing==2.2.1
Faker==37.4.0
filelock==3.16.1
fonttools==4.55.1
FXrays==1.3.6
gssapi==1.10.1
hyperlink==21.0.0
idna==3.10
imagesize==1.4.1
incremental==24.7.2
iniconfig==2.1.0
inutils==0.1.3
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.4
kiwisolver==1.4.7
knot_floer_homology==1.2.2
low_index==1.2.1
MarkupSafe==2.1.5
matplotlib==3.9.3
matplotlib-inline==0.2.1
mongoengine==0.29.1
mysql-connector-python==9.1.0
networkx==3.5
numpy==2.1.3
opencv-contrib-python==4.10.0.84
packaging==24.1
parso==0.8.5
peewee==3.17.6
pickleshare==0.7.5
pillow==11.0.0
platformdirs==4.3.6
plink==2.4.6
pluggy==1.6.0
prompt_toolkit==3.0.52
pure_eval==0.2.3
Pygments==2.18.0
pymongo==4.15.3
PyMySQL==1.1.1
pyparsing==3.2.0
pypng==0.20220715.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
PySide6==6.8.0.2
PySide6_Addons==6.8.0.2
PySide6_Essentials==6.8.0.2
pytest==8.4.0
pytest-django==4.11.1
pytest-mock==3.14.1
python-dateutil==2.9.0.post0
python-mimeparse==2.0.0
python-snappy==0.7.3
pytz==2024.2
PyX==0.17
requests==2.32.3
setuptools==80.9.0
shiboken6==6.8.0.2
six==1.16.0
snappy==3.2
snappy_manifolds==1.3
snowballstemmer==2.2.0
South==1.0.2
spherogram==2.3
Sphinx==7.4.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.2
srv==1.1.0
stack-data==0.6.3
tkcalendar==1.6.1
tkinter-gl==1.0
traitlets==5.14.3
Twisted==25.5.0
typing_extensions==4.15.0
tzdata==2024.2
Unidecode==1.3.8
urllib3==2.2.3
virtualenv==20.26.5
wcwidth==0.2.14
winkerberos==0.12.2
zope.interface==8.1.1