{% extends "plantilla_tienda.html" %}
{% load static %}
{% block localst %}
    <div class="container">
        <div class="row">
            <div class="col-12 prueba">
                <br/><br/><br/><br>
            </div>
        </div>
    </div>
    <!--

    -->
            <div id="miCarrusel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            {% for slide in slides %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="d-flex justify-content-center gap-2">
                    {% for imagene in slide %}
                        <div class="row">
                            <a href="{% url 'ver' imagene.id%}">
                                <img src="{{ imagene.imagen.url }}" class="rounded-4" style="width: 250px; height: 25vh;">
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#miCarrusel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#miCarrusel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
    <!-- Puedes agregar más slides aquí -->


{% endblock  %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script> 
 
<script = "text/javascript">
/*jslint browser: true*/
/*jslint plusplus: true*/
/*global FormData: false */
/*global $, jQuery, alert, console*/
/*..............................................................................................
... PARA VALIDAR LOS DATOS .....................................................
.............................................................................................*/
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    "use strict";
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function AgregarI(cada_producto_id, valor) {
    "use strict";

    console.log(cada_producto_id, valor)
    $.ajax({
        beforeSend : function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        url : "/tienda/agregar/",
        type : "GET",
        data : { cada_producto_id:cada_producto_id, valor:valor},
        success : function (json) {
            console.log(json[0].idproducto.toString())
            console.log(json[0].cantida.toString())
            localStorage.setItem(json[0].idproducto.toString(), json[0].cantida.toString());
            //location.reload();
            console.log("ok++++++++++++++++++++++++")
        },
        error : function (xhr, errmsg, err) {
            console.log('Error en carga de respuesta');
        }
    });
} 





$('.agregar').click(function (event) {
    "use strict";
    event.preventDefault();
    let cada_producto_id = $(this).parent().find('.verid').val();
    let valor = $(this).parent().find('.vervalor').val();
    console.log(cada_producto_id);
    console.log(valor);

    //PASO 1: Remuevo todo item que no inicia con utn_
    let i;
    for(i = 0; i < localStorage.length; i++){
        let clave_eliminar = localStorage.key(i);
        console.log(typeof clave_eliminar);
        console.log(clave_eliminar);
        if(!clave_eliminar.startsWith("utn_")){
            console.log("retorna NO verdadero !!!!!!!!!!!!!");
            localStorage.removeItem(clave_eliminar);
            console.log("retorna NO verdadero !!!!!!!!!!!!!");
        }
    }

    //PASO 2: Si es la primera vez que selecciono el valor me quedo con "valor=1"
    //Si ya existia un valor en la base tomo ese valor en lugar de 1
    for(i = 0; i < localStorage.length; i++){
        let clave = localStorage.key(i);
        let el_valor = localStorage[clave];
        if(clave == cada_producto_id){
            console.log("-----1112------")
            console.log(clave);
            console.log(valor);
            valor = el_valor;
            console.log("-----1112------")
        }else{
            console.log("no hay coincidenciaaaa");
        }   
    }

    AgregarI(cada_producto_id, valor);

});






</script>
{% endblock %}
