#boton1 {
  color: aliceblue;
}

#boton2 {
  color: black;
  background-color: gold;
}

#modelo, #modelo1 {
  background-color: #575855;
  color: aliceblue;
}

#parag {
  color: black;
}

#parag1 {
  padding-left: 19px;
  color: #500c0c;
}

#linker {
  color: blue;
}

#pdrop {
  padding-left: 19px;
}

#dropd {
  background-color: antiquewhite;
}

#buscador [type=search] {
  margin-right: auto;
  width: 300px;
  padding: 5px;
}

@media (max-width: 576px) {
  .dropdown-item::before {
    transform: rotate(-90deg);
  }
}

#contenedor {
  width: 100%;
}

.contenedor_main {
  position: absolute;
  width: 100%;
  float: left;
}

.juntos {
  float: left;
  width: 100%;
  height: 500px;
  background-color: #5D5EE6;
  border: solid 1px #fffdfd;
  margin: 0px;
  padding: 0px;
}

#primero {
  width: 80%;
}

#segundo {
  width: 30%;
  height: 100px;
  float: left;
  height: auto;
}

#segundo1 {
  width: 30%;
  float: left;
  height: auto;
  width: 100%;
  height: 250px;
}

#tercero {
  width: 30%;
  height: 100px;
  float: left;
  height: auto;
}

#tercero1 {
  float: left;
  height: auto;
  height: 250px;
  width: 100%;
}

.overlay-text1 {
  position: absolute;
  top: 75%;
  left: 31%;
  transform: translate(-50%, -50%);
  color: #000;
  padding: 10px 20px;
  font-size: 20px;
  text-align: left;
}

.overlay-text2 {
  position: absolute;
  top: 70%;
  left: 83%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  padding-bottom: 390px;
  font-size: 20px;
  text-align: right;
}

.overlay-text3 {
  position: absolute;
  top: 107%;
  left: 83%;
  transform: translate(-50%, -50%);
  color: #000000;
  padding: 10px 20px;
  padding-bottom: 390px;
  font-size: 20px;
  text-align: right;
}

#textoh1_1 {
  font-size: 20px;
}

#textop_1 {
  font-size: 16px;
}

#textoh1_2 {
  font-size: 20px;
}

#textop_2 {
  font-size: 16px;
}

#textoh1_3 {
  font-size: 20px;
}

#textop_3 {
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .juntos {
    background-color: #E6D468;
  }
}

@media screen and (min-width: 768px) {
  .juntos {
    background-color: #57E668;
    width: 49.5%;
  }
}

@media screen and (min-width: 992px) {
  .juntos {
    background-color: #6AD2E6;
    width: 33%;
  }
}

@media screen and (min-width: 1200px) {
  .juntos {
    background-color: #AD6DE6;
  }
}

@media screen and (min-width: 1400px) {
  .juntos {
    background-color: #E6746B;
  }
}

#circular {
  width: 200px;
  height: 200px;
  /* float:left;
    right: 66%;
    top: 100%;
    position: absolute;*/
}

#contenedor_m2 {
  position: left;
  width: 100%;
  float: left;
  height: 100%;
}

#usuarios {
  /*    position: absolute; 
    top: 113%; 
    left: 40%;*/
  color: #000;
}

#mail {
  /*position: absolute;
    top: 143%; 
    left: 22%; */
  color: #000;
}

#code {
  /* position: absolute;
    top: 153%; 
    left: 22%; */
  color: #000;
}

.color1 {
  background-color: #F0738F;
}
