/* COLORES */
/* Colu */
.colu1 {
  background-color: #F0738F;
}

.colu2 {
  background-color: #0CF86F;
}

.colu3 {
  background-color: #0CACF8;
}

/* colum */
.colum3 {
  background-color: rgba(213, 248, 12, 0.917);
}
