/* COLORES */
$col1: aliceblue;
$col2: rgb(0, 0, 0);
$col3: black;
$col4: rgb(80, 12, 12);
$col5: blue;
$col6: #000; 
$col7: #fff; 
$col8: #000000;
$color1: #ffaa00;


/*COLORES_DE_FONDO*/
$bgc1: gold;
$bgc2: rgb(87, 88, 85);
$bgc3: antiquewhite;
$bgc4: #5D5EE6; 
$bgc5: #E6D468;
$bgc6: #57E668;
$bgc7: #6AD2E6;
$bgc8: #AD6DE6;
$bgc9: #E6746B;

/*BODER*/
$bor1: solid 1px #fffdfd;